* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

@font-face {
    font-family: 'Minecrafter';
    src: url('src/fonts/Minecrafter.Reg.ttf') format('truetype');
}

body {
    background-color: #000000;
}

nav {
    padding: 10px 50px 10px 50px;
    background-color: #1c1c1c;
}

.logo {
    display: flex;
    color: #ffffff;
    margin-bottom: 10px;
}

.logo p {
    font-family: 'Minecrafter', sans-serif;
    align-self: center;
}

.logo img {
    width: 5%;
}

.menu {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/*Contenedor Hero*/
h1 {
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Minecrafter', sans-serif;
    font-weight: lighter;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(src/img/fondo_hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.contenedorP_hero {
    color: #ffffff;
    box-sizing: border-box;
}


/*Seccion de overworld*/
.section_overworld {
    background-color: #7BB14A;
    display: flex;
    padding: 50px;
}

.titulo_overworld {
    display: flex;
    width: 50%;
    gap: 0;
}

.titulo_overworld img {
    width: 40%;
}

.titulo_overworld h2 {
    font-family: 'Minecrafter', sans-serif;
    font-size: 4rem;
    color: #ffffff;
}

.titulo_overworld p {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: right;
}